.easilogo{
  margin-top: -15vh;margin-left: 85vw;width: 8vw;
}

@media screen and (max-width: 990px) {
  .easilogo{
    width: 10vw;margin-left: 85vw;
  }
}
@media screen and (max-width: 800px) {
  .easilogo{
    width: 80px;margin-top: -24vh;margin-left: 42.5vw;
  }
}

@media screen and (max-width: 500px) {
  .easilogo{
    margin-left: 40vw;
  }
}
