<div class="navbar-wholeborder">
<!--left two icons-->
    <div class="leftsection">
      <div class="row">
        <a class="facebookicon">
          <img src="./../../assets/navbar/facebookicon.png" width="25px" height="25px">
        </a>
        <a  class="wechaticon">
          <img src="./../../assets/navbar/wechaticon.png" width="35px" height="25px" style="padding-left: 10px">
        </a>
      </div>

    </div>


  <div class="mobileleftsection">
    <div class="row">
      <a  class="facebookicon">
        <img src="./../../assets/navbar/facebookicon.png" width="25px" height="25px">
      </a>
      <a  class="wechaticon">
        <img src="./../../assets/navbar/wechaticon.png" width="35px" height="25px" style="padding-left: 10px">
      </a>
    </div>

  </div>



<!--  right section three navbar in one line-->
  <table class="tableofnavbar">
    <tr class="tabletr">
      <td  class="eachsection"><a href="#menu"><button>MENU</button></a></td>
      <td class="eachsection"><div class="roundbtnbackground"><p class="roundbtnbackgroundwording">CBD<br>DUMPLING<br>HOUSE</p></div></td>
      <td class="eachsection">CONTACT</td>
    </tr>

  </table>

</div>


<div class="roundblackbutton" style="z-index: 999">
  CBD<br>DUMPLING<br>HOUSE
</div>
