<div class="navbar-wholeborder">
<!--  <div class="row">-->
    <div class="leftsection">

      <div class="row">
        <!--              <i style="font-size: 30px" class="fa fa-instagram"></i>-->
        <!--              <i style="font-size: 30px" class="fa fa-facebook"></i>-->
        <a href="https://www.instagram.com/zoobarandgrill/" class="facebookicon">
          <img src="./../../assets/navbar/facebookicon.png" width="25" height="25">
        </a>
        <a href="https://www.facebook.com/ZOOBARANDGRILL/?ref=search&__tn__=%2Cd%2CP-R&eid=ARCNn-6b3xdhBYBE5lay
              1p3pkL_oScZ9Gq_rWgAyGFnm0HJzeA0oKWi7Q8FdqP47l1OM7d4RVx12j-Ki" class="wechaticon">
          <img src="./../../assets/navbar/wechaticon.png" width="38" height="25" style="padding-left: 10px">
        </a>
      </div>

    </div>
<!--    <div class="menu">-->
<!--      MENU-->
<!--    </div>-->
<!--    <div class="roundbutton">-->
<!--      CBD<br>DUMPLING<br>HOUSE-->
<!--    </div>-->
<!--    <div class="CONTACT">-->
<!--      MENU-->
<!--    </div>-->
<!--  </div>-->

  <table class="tableofnavbar">
    <tr class="tabletr">
      <td class="eachsection">MENU</td>
      <td class="eachsection"><div style="border: 1px solid white;width: 100px;height: 100px;border-radius: 50%;margin: auto"><p style="padding-top: 1.5vh;font-size: 15px">CBD<br>DUMPLING<br>HOUSE</p></div></td>
      <td class="eachsection">CONTACT</td>
    </tr>

  </table>

</div>
