.navbar-wholeborder{
  margin-top: 0;
  height: 20vh;
  width: 100%;
  color: white;
  background-color: black;
}
.leftsection{
  width: 20%;
  height: 20vh;
  border-right: 2px solid grey;
  position: absolute;
}
.mobileleftsection{
  position: absolute;
  width: 20%;
  left: 80%;
  top:5vh;
}

.facebookicon{
  position: absolute;
  right: 20%;
  top: 8vh;
}
.wechaticon{
  position: absolute;
  right: 7%;
  top: 8vh;
}

.tableofnavbar {
  display: table;
  /*width: 50%; !*Optional*!*/
  /*table-layout: fixed; !*Optional*!*/
  /*border-spacing: 10px; !*Optional*!*/
  margin: auto;
}
.tabletr{
  text-align: center;
}
.eachsection{
  width: 180px;
  padding-top: 3vh;
  font-size: 25px;
}
.roundblackbutton{
  background-color: rgba(0,0,0,0.6);position: fixed;top: 30vh;left: 15%;width: 20vw;height: 20vw;border-radius: 50%;color: white;text-align: center;font-size: 3vw; vertical-align: middle;display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.roundbtnbackground{
  border: 1px solid white;width: 120px;height: 120px;border-radius: 50%;margin: auto;
}
.roundbtnbackgroundwording{
  padding-top: 1.5vh;font-size: 20px
}
.roundbtnbackground:hover{
  background-color: white;
  transition: 2s;
}
.roundbtnbackground:hover .roundbtnbackgroundwording{
  color: black;
  transition: 2s;
}
@media screen and (max-width: 1200px) {
  .facebookicon{
    position: absolute;
    right: 26%;
    top: 8vh;
  }
  .wechaticon{
    position: absolute;
    right: 10%;
    top: 8vh;
  }
}

@media screen and (max-width: 900px) {
  .facebookicon{
    position: absolute;
    right: 50%;
    top: 8vh;
  }
  .wechaticon{
    position: absolute;
    right: 20%;
    top: 8vh;
  }
  .roundblackbutton{
    width: 30vw;height: 30vw;
  }
}
@media screen and (min-width: 750px) {
  .mobileleftsection{
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .leftsection{
    display: none;
  }
  .roundblackbutton{
    width: 35vw;height: 35vw;font-size: 5vw;
  }
}
@media screen and (max-width: 500px) {
  .facebookicon{
    position: absolute;
    right: 60%;
    top: 8vh;
  }
  .wechaticon{
    position: absolute;
    right: 20%;
    top: 8vh;
  }
}
