<div class="navbar-wholeborder">
  <!--left two icons-->
  <div class="leftsection">
    <div class="row">
      <a class="facebookicon">
        <img src="./../../assets/navbar/facebookicon.png" width="25px" height="25px">
      </a>
      <a  class="wechaticon">
        <img src="./../../assets/navbar/wechaticon.png" width="35px" height="25px" style="padding-left: 10px">
      </a>
    </div>

  </div>


  <div class="mobileleftsection">
    <div class="row">
      <a  class="facebookicon">
        <img src="./../../assets/navbar/facebookicon.png" width="25px" height="25px">
      </a>
      <a  class="wechaticon">
        <img src="./../../assets/navbar/wechaticon.png" width="35px" height="25px" style="padding-left: 10px">
      </a>
    </div>

  </div>



  <!--  right section three navbar in one line-->
  <table class="tableofnavbar">
    <tr class="tabletr">
      <td  class="eachsection"><a href="#menu" style="color: white">MENU</a></td>
      <td class="eachsection"><div class="roundbtnbackground"><p class="roundbtnbackgroundwording">CBD<br>DUMPLING<br>HOUSE</p></div></td>
      <td class="eachsection"><a href="#contact" style="color: white">CONTACT</a></td>
    </tr>

  </table>

</div>


<div class="roundblackbutton" style="z-index: 999">
  CBD<br>DUMPLING<br>HOUSE
</div>

<!--content start-->
<div id="first_id" class="desktopbanner">
  <div >
    <img class="homebannerimg" src="../../assets/home/banner.jpg" alt="first bg" >
  </div>
</div>


<!--First line two photos in the left and right-->
<div class="mobilebanner" id="second_id" style="width: 100%;margin-left: 0;">
  <img class="firstleftphoto" src="../../assets/home/banner.jpg" alt="tiger" >
</div>



<div class="middleblackwholeborder" id="menu">
  <div class="wordingofcontent">
  <h1 class="wordingh1">MENU</h1>
  <p class="wordingp" style="font-weight: 200">
    Everything prepared with high quality, rich taste and made fresh on Order. Healthy, Delicious and
    made very Special, to steal all your hearts. Our experienced Chefs ensure to give you the best
    and make your every order with us, the memorable moment.
  </p>
  </div>
</div>


  <img class="foodphotos" src="../../assets/home/menu_highsolution.jpg" alt="dishes" style="margin-left: 0%">

<div class="middleblackwholeborder" id="contact">
  <div class="wordingofcontent">
    <h1 class="wordingh1">CONTACT US</h1>
    <p class="wordingp" style="font-weight: 200">
      Address:
<!--      Shop FG13C, 148 Bunda St, Canberra ACT 2601-->
      <br>
      Phone:
<!--      (02) 6262 8866-->
      <br>
      Mon-Sun 11:30-15:00, 17:00-22:00
    </p>
  </div>
</div>

<div class="right_map_section">
  <!-- MAP AREA -->
<!--  <div class="mapouter" style="z-index: -1">-->
<!--    <div class="gmap_canvas">-->
<!--      <iframe width="750" height="500" id="gmap_canvas"-->
<!--              src="https://maps.google.com/maps?q=zoobar+and+gril&oq=zoobar+and+gril&aqs=chrome..69i57j0l7.2697j0j7&sourceid=chrome&ie=UTF-8&iwloc=&output=embed"-->
<!--              frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>-->
<!--      <a href="https://www.embedgooglemap.net/blog/elementor-review/"></a>-->
<!--    </div>-->
<!--  </div>-->


  <div class="mapouter">
    <div class="gmap_canvas">
      <iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=cbd%20dumpling&t=&z=13&ie=UTF8&iwloc=&output=embed"
              frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
      </iframe>
      <a href="https://divi-discount.com/elegant-themes/">
      elegant themes coupon
    </a>
    </div>
  </div>
</div>


<app-footer></app-footer>
