.navbar-wholeborder{
  margin-top: 0;
  height: 20vh;
  width: 100%;
  color: white;
  background-color: black;
}
.leftsection{
  width: 20%;
  height: 20vh;
  border-right: 2px solid grey;
  position: absolute;
}
.mobileleftsection{
  position: absolute;
  width: 20%;
  left: 80%;
  top:5vh;
}

.facebookicon{
  position: absolute;
  right: 20%;
  top: 8vh;
}
.wechaticon{
  position: absolute;
  right: 7%;
  top: 8vh;
}
.orderonline{
  background-color: #ffd800;font-size: 25px;color: black
}
.onlineorderwhole{
  position: absolute;top: 6vh;right: 5%;
}
.tableofnavbar {
  display: table;
  /*width: 50%; !*Optional*!*/
  /*table-layout: fixed; !*Optional*!*/
  /*border-spacing: 10px; !*Optional*!*/
  margin: auto;
}
.tabletr{
  text-align: center;
}
.eachsection{
  width: 180px;
  padding-top: 3vh;
  font-size: 25px;
}
.roundblackbutton{
  background-color: rgba(0,0,0,0.6);position: fixed;top: 30vh;left: 15%;width: 20vw;height: 20vw;border-radius: 50%;color: white;text-align: center;font-size: 3vw; vertical-align: middle;display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.roundbtnbackground{
  border: 1px solid white;width: 120px;height: 120px;border-radius: 50%;margin: auto;
}
.roundbtnbackgroundwording{
  padding-top: 1.5vh;font-size: 20px
}
.roundbtnbackground:hover{
  background-color: white;
  transition: 2s;
}
.roundbtnbackground:hover .roundbtnbackgroundwording{
  color: black;
  transition: 2s;
}
@media screen and (max-width: 1200px) {
  .facebookicon{
    position: absolute;
    right: 26%;
    top: 8vh;
  }
  .wechaticon{
    position: absolute;
    right: 10%;
    top: 8vh;
  }
}

@media screen and (max-width: 900px) {
  .facebookicon{
    position: absolute;
    right: 50%;
    top: 8vh;
  }
  .wechaticon{
    position: absolute;
    right: 20%;
    top: 8vh;
  }
  .roundblackbutton{
    width: 30vw;height: 30vw;
  }
}
@media screen and (min-width: 750px) {
  .mobileleftsection{
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .leftsection{
    display: none;
  }
  .roundblackbutton{
    width: 35vw;height: 35vw;font-size: 5vw;
  }
}
@media screen and (max-width: 500px) {
  .facebookicon{
    position: absolute;
    right: 60%;
    top: 8vh;
  }
  .wechaticon{
    position: absolute;
    right: 20%;
    top: 8vh;
  }
}



.parallax-wrapper{
  width: 100%;
  height: 100vh;
  padding-top: 20vh;
  box-sizing: border-box;
}
.parallax-wrapper::before{
  content: "";
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url("../../assets/home/banner.jpg");
  position: absolute;
  z-index: -1;
  background-size: 100% 100%;
}

.row {
  scroll-behavior: smooth;
}
.regular-wrapper{
  margin-top: 0;
  width: 100%;
  height: 65vh;
  padding-top: 20vh;
  background-image:
    url("../../assets/home/banner.jpg"),
    url("../../assets/home/banner.jpg");

  background-size:
    33% 100%,
    33% 100%;

  background-position:
    left 0 top 0,
    left 100% top 0;
  background-repeat: no-repeat;
}
.regular-wrapper1{
  margin-top: 0;
  width: 100%;
  height: 65vh;
  padding-top: 20vh;
  background-image:
    url("../../assets/home/banner.jpg");

  background-size:
    67% 100%;

  background-position:
    left 100% top 0;
  background-repeat: no-repeat;

}
.content{
  margin: 0;
  padding: 50px;
  width: 50%;
  background: rgba(46,139,87,1);
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  margin-left: 30px;
}

.content1{
  margin: 0;
  padding: 50px;
  width: 50%;
  background: rgba(46,139,87,1);
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  margin-left: 30px;
}
.title{
  font-size: 3.7vw;text-align: center;text-shadow: 1px 1px 1px rgb(100,100,100);padding-left: 10%;
}
.contentwords{
  font-size: 1.5vw;text-align: left;text-shadow: 1px 1px 1px rgb(100,100,100);padding-left: 10%;margin-top: -15px;
  font-weight: 300;
}
.secondrightphoto {
  width:66.666%;
  height:65vh;
  object-fit:cover;
}
.thirdleftphoto{
  width:66.666%;
  height:65vh;
  object-fit:cover;
}
.foodphotos{
  width:100%;
  object-fit:cover;
}
.firstleftphoto{
  width:100%;
  height:60vh;
  object-fit:cover;
}
.firstrightphoto{
  width:33.333%;
  height:65vh;
  object-fit:cover;
}

.homebannerimg {
  width: 100%;
  /*height: 80vh;*/
  /*
  object-fit: cover;
  background: linear-gradient(
    rgba(0, 0, 0, 0.45),
    rgba(0, 0, 0, 0.45)
  );
  transform-origin: 75% 75%;
  background-position: center;
  background-size: cover;
 */
  background: linear-gradient(
    rgba(0, 0, 0, 0.45),
    rgba(0, 0, 0, 0.45));
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation-name: zoom;
  animation-name: zoom;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
.title {
  font-family: Oswald;
}
.contenttitle{
  font-family: Oswald;
}
.middleblackwholeborder{
  background-color: #2b2928;color: white
}
.wordingofcontent{
  padding-top: 50px;padding-bottom:50px;width: 80%;margin: auto;text-align: center;max-width: 1200px;
}
.wordingh1{
  font-size: 50px
}
.wordingp{
  font-size: 30px;
}
.mapouter{position:relative;text-align:right;height:500px;width:100%;}
.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100%;}
@media screen and (min-width: 1000px) {
  .mobilebanner {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .desktopbanner{
    display: none;
  }
  .onlineorderwhole{
    top: 21vh;
    width: 30vw;
    left: 35vw;
  }
  .orderonline{
    width: 100%;
  }
  .navbar-wholeborder{
    height: 28vh;
  }
  .leftsection{
    height: 28vh;
  }

}
@media screen and (max-width: 750px) {
  .wordingh1{
    font-size: 30px
  }
  .wordingp{
    font-size: 20px;
  }
  .facebookicon{
    top:18vh
  }
  .wechaticon{
    top: 18vh;
  }
  .onlineorderwhole{
    width: 40vw;
    left: 30vw;
  }
}
@media screen and (max-width: 600px) {
  .firstleftphoto{
    height: 40vh;
    width: 100%;
  }
  .onlineorderwhole{
    width: 50vw;
    left: 25vw;
  }
}
@media screen and (max-width: 400px) {
  .orderonline{
    font-size: 20px;
  }
  .onlineorderwhole{
    left: 22vw;
  }
}
